*{
margin: 0%;
padding: 0%;
}
.home{
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
    line-height: 40px;
    margin-bottom: 0;
    background-image: url(https://bit.ly/3aqlsqm);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-size: 70px;
    color:white;
}

.home h1{
    font-size: 85px;
    line-height: 40px;
    text-decoration:underline;
    text-shadow: red;
    font-weight: bolder;
}
.home p{
    font-size: 30px;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: rgb(15, 15, 216);
    padding:25px;
    position:fixed;
    width:100%;
    top:0;
  }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 29px;
    margin-left: 10%;
    font-weight: bolder;
    display:block;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color:black;
    color: white;

}
.digital h2{
    color: darkblue;
    font-weight: bolder;
}
.digital p{
    text-align: center;
    font-size: 20px;
}
.digital{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
.p h1{
    text-align: center;
    padding-right: 100px;
}
h2{
    text-align: center;
    margin-left: 7%;
    font-size: 30px;
    color: white;
    }  
   
   .ip {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 40px;
}
.ip h2{
    color: darkblue;
    font-weight: bolder;
}
.ip .row{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left:100px;
}
.p h2{
    text-align: center;
    padding-right: 100px;
}
.ip img{
    display: block;
}
.ip p{
  text-align: center;
  position: absolute;
  font-size: 35px;
  padding-top: 80px;
  padding-left: 40px;

}
h3{
    background-color: rgb(241, 232, 232);
    color: darkblue;
}
.sam{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}
.tony{
    text-align: center;
    font-size: 20px;
    background-color: rgb(236, 235, 232);
}
.tony p{
    font-weight: bolder;
}
      .contacts{
        background-color: rgb(14, 14, 185);
        height:500px;
        margin-top: 100px;
        margin-left: 0;
        background-size: cover;
    
    }
    .contacts h2{
        text-align: center;
        padding-top: 60px;
        padding-bottom: 0;
        color:white;
        font-weight: bolder;
    }
    .contacts input,textarea{
        background: none;
       
    }
    ::placeholder{
        color: white;
    }
    .contacts textarea{
        margin-left: 300px;
        margin-top: 20px;
        color: white;
    
    }
    input{
        margin-left:300px;
        margin-top: 40px;
    }
    #email{
        position: none;
        left:300px;
        width: 300px;
        color: white;
        padding:10px;
        font-size: 25px;
    }
    .rose{
        text-align: none;
        padding:50px;
    }
    #name{
        position: none;
        width: 300px;
        right: 400px;
        margin: center;
        color: white;
        padding:10px;
        font-size: 25px;
    }
    button{
        position: relative;
        top:50px;
        right:450px;
    }
    #text{
        font-size: 25px;
    }
.zz{
    background-color: green;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 19px;
    color: white;
    
}