.fluid{
    background: #b388ff;
    text-align: center;
    font-weight: 900;
    font-family:georgia,garamond,serif;font-size:16px;font-style:italic;
    margin-top: 20px;
    
}
h1{
    font-size: 65px;
}
h2{
        font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
        color: #000;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.4); 
        font-size: 30px;
}

img{
    float: left;
    max-width: 250px;
}

.potray .row .col-4 img{
    width:550px;
    height: 300px;
    text-align: center;
    margin: 0px;
    margin: o auto;
    

}
    

h3 {
    font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    font-size: 35px;
  }

.potray{
    max-width: 960px;
    margin:0 auto;
    text-align:center;
  }
.icns img{
    width:100%;
    margin-bottom: 5px;
  }

.icns{
    margin-bottom: 0px;
  }

.image-frame img{
    width: 250px;
    height: 350px;
    margin: 10px;
}

.image-frame {
	float: left;
	position: relative;
	margin: 5px;
	color: #333;
}

.image-frame .image-caption {

	opacity: 0.8;
    background: #e7b9ff;
    width: 260px;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    padding: 30px;
}
//*
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E0E0E0;
  overflow: hidden;
}

img {
  width: 200px;
  height: 200px;
}
h1 {
  font-size: 22px;
  color: #151E3F;
  font-weight: 300;
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 5px;
  }
}

.media {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      height: auto;
    }
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #FFF;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }
}

p {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 15px;
  letter-spacing:1px;
}

.media:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

@media (max-width: 800px){
  body {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
    .wrapper {
    display: block;
    > * {
      margin: 10px;
    }
  }
}